html, body {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

body {
	background-color: whitesmoke;
	margin: 0 auto;
}


.container {
	display: flex;
	height: 100%;
}

.toc {
	direction: rtl;
	flex: 40%;
	overflow: auto;
	padding: 0 5%;
}

.toc ul {
	direction: ltr;
	list-style: none;
}

.toc ol { direction: ltr; }

.toc a, .toc a:visited {
	color: #8e0012;
	font-size: larger;
	text-decoration: none;
}

.toc a:hover { text-decoration: underline; }

.toc a:active {
	color: red;
	text-decoration: underline;
}


.toc h2 {
	color: #8e0012;
	font-family: sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	margin: 15px 0 8px 0 !important;
}

.toc h3 {
	color: #523438;
	font-family: sans-serif;
	font-size: 1em;
}


.frame {
	background-color: white;
	border: 5px inset #A40000;
	flex: 45%;
	margin-right: 10%;
	overflow: hidden;
	position: relative;
}

.frame iframe {
	border: none;
	height: 95%;
	left: 0;
	margin: 3%;
	position: absolute;
	top: 0;
	width: 95%;
}